params {
    sra_dir = "/data2/users/liuqi/eccdna/Arabidopsis_thaliana"
    outdir = "/data1/users/siyangming/eccDNA"
}

process {
    executor = 'local'

    withName: 'SRATOOLS_FASTERQDUMP' {
        memory = 32.GB
        cpus = 8
        time = 24.h
    }
}

conda {
    enabled = false
}

docker {
    enabled = true
}

singularity {
    enabled = false
}