process {
    withName: MINIMAP2_ALIGN {
        ext.args = '-ax map-ont --secondary=no --MD'
    }
    withName: MINIMAP2_ALIGN_TRANSCRIPTOME {
        ext.args = '-ax map-ont --secondary=no --MD'
    }
    withName: LONGSHOT {
        ext.prefix = { "${meta.id}.longshot" }
        ext.args = '--min_cov 3 --min_alt_count 3 --strand_bias_pvalue_cutoff 0.000001'
    }
    withName: SAMTOOLS_FAIDX {
        container = "community.wave.seqera.io/library/minimap2_samtools:33bb43c18d22e29c"
    }
    withName: FILTER_FASTA {
        container = "community.wave.seqera.io/library/minimap2_samtools:33bb43c18d22e29c"
    }
}
